<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>viewer</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>Zdy4ui2BaLEDRPQAkZeAIiAhcGQqRCkesqWVk0Gqu96CER5ee1RkC7ucdIP//K9m</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.4">
      <credentials/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$b76W1C4CvTWr2Q93uknl6.WjHhE48jlmbhxoFMds7qboc6SZIBJUu</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.5">
      <emailAddress>viewer@thoughtworks.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>